body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}


address {
    font-style: normal;
}


button {
    font-family: inherit;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    width: 100%;
    
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

        .section {
            padding-top: 120px;
            padding-bottom: 120px;
        }
}

/* Header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation-list,
.contacts {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        text-transform: uppercase;
        margin-right: 76px;
        padding: 16px 0;
            display: block;
}

.header-logo-color {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
            display: none;
        }
    
        .header-container {
            max-width: 768px;
        }

        .header-navigation-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    
        .contacts {
            font-style: normal;
            display: block;
        }
    
        .header-navigation {
            display: flex;
            align-items: center;
        }
    
        .header-logo {
            padding: 24px 0;
            margin-right: 120px;
        }
    
        .header-navigation-link {
            padding: 24px 0;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .header-navigation-link:hover,
        .header-navigation-link:focus,
        .header-navigation-link.current {
            color: #404bbf;
        }
    
        .header-navigation-link.current {
            position: relative;
        }
    
        .header-navigation-link.current::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
        }
    
    
        .contacts-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    
        .contacts-list-item:last-child {
            margin-right: 0px;
        }
    
    
        .contacts-list-item {
            display: block;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            
        }

        .contacts-list-link {
            font-weight: 400;
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
                color: #434455;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }
    
        .contacts-list-link:hover,
        .contacts-list-link:focus {
            color: #404bbf;
        }
}
    

@media screen and (min-width: 1158px) {
    .header-container {
            max-width: 1158px;
        }
    
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-list-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-weight: 400;
    }

    .contacts {
        margin-left: auto;
    }
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: none;
    overflow: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-nav {
    margin-bottom: auto;
    margin-bottom: 168px;
}

.mobile-nav-list {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
        width: 151px;
}

.mobile-nav-item {
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
        color: #404bbf;
}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-list {
    display: flex;
        text-align: left;
        flex-direction: column;
        gap: 24px;
        margin-right: auto;
}

.mobile-contacts-link current {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #4d5ae5;
}

.mobile-contacts-link {
    color: #434455;
}

.mobile-soc-list {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}

.mobile-soc-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
            height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-soc-link:hover, 
.mobile-soc-link:focus {
    background-color: #31d0aa;
}

.team-soc-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* Hero/Solutions section */

.solutions {
    background-color: #2e2f42;
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url("../images/people-office-mobile-1x.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 320px;
        margin: 0 auto;
    }


    .solutions-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #ffffff;
            margin-bottom: 48px;
            margin-left: auto;
            margin-right: auto;
            max-width: 216px;
    }

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .solutions {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mobile-2x.png);
    }
}

@media screen and (min-width: 768px) {
    .solutions {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab-1x.png);
    }

        .solutions-title {
            font-weight: 700;
            font-size: 56px;
            line-height: 107%;
            letter-spacing: 0.02em;
            text-align: center;
            color: white;
            margin: 0 auto;
            max-width: 496px;
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        (min-resolution: 192dpi) and (min-width: 768px) {
    .solutions {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab-2x.png);
    }
}
    
@media screen and (min-width: 1158px) {
    .solutions {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-desktop-1x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
(min-resolution: 192dpi) and (min-width: 1158px) {
    .solutions {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-desktop-2x.png);
    }
}


.solutions-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        padding: 16px 32px;
        margin: 0 auto;
        min-width: 169px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:hover,
.solutions-btn:focus {
    background-color: #404bbf;
}

 /* Adventures */

.adventures {
    padding-top: 96px;
        padding-bottom: 96px;
}

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

.adventures-container {
    padding: 0 16px;
    margin: 0 auto;
}

 .adventures-list {
     gap: 72px;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }

@media screen and (min-width: 768px) {
    .adventures-container {
        width: 768px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .adventures-list {
        gap: 72px 24px;
        flex-flow: row wrap;
    }
}



.adventures-box {
    display: none;
}

@media screen and (min-width: 768px) {
    .adventures-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .adventures {
            padding-top: 120px;
            padding-bottom: 120px;
        }

    .adventures-container {
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .adventures-list-item {
        width: calc((100% - 72px) / 4);
    }

        .adventures-list {
            display: flex;
            gap: 24px;
            padding-left: 0;
            margin: 0;
        }
                .adventures-box {
                    border: 1px solid #8e8f99;
                    border-radius: 4px;
                    width: 264px;
                    height: 112px;
                    background: #f4f4fd;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    margin-bottom: 8px;
                }
}



.adventures-subtitle {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.adventures-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 1158px) {
    .adventures-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }

    .adventures-text {
        font-weight: 400;
    }
}

.adventures-icon {
    width: 64px;
    height: 64px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}



/* Team */

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
        padding-bottom: 96px;
}


@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-container {
            max-width: 584px;
        }
}
    

@media screen and (min-width: 1158x) {
    .team-container {
    max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }
                .team {
                    padding-top: 120px;
                    padding-bottom: 120px;
                }
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
            flex-wrap: wrap;
            row-gap: 64px;
            column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
            gap: 24px;
            justify-content: center;
            padding-left: 0;
            margin: 0;
    }
}

.team-list-item {
    background-color: #ffffff;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        border-bottom: 1px solid #e7e9fc;
        flex-wrap: wrap;
        justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .team-list-item {
        width: calc((100% - 24px)/2);
    }
}

@media screen and (min-width: 1158px) {
    .team-list-item {
        width: calc((100% - 72px) / 4);;
    }
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
}


.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-members {
    text-align: center;
    padding: 32px 16px;
}

.social-button {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    margin: 0 auto;
    border-radius: 100%;
}

.social-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}


.social-icon {
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover {
    background-color: #404bbf;
}



/* Portfolio */

.portfolio {
    padding-top: 96px;
        padding-bottom: 96px;
}

.portfolio-container {
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .portfolio-container {
        max-width: 736px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
    .portfolio-container {
        max-width: 1158px;
            padding: 0 15px;
    }
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-flow: row wrap;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        flex-flow: row wrap;
        gap: 48px 24px;
    }
}

.portfolio-list-item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list-item {
        max-width: calc((100% - 48px) / 3);
    }

}

.thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-slide {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background: #4d5ae5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-slide {
    transform: translateY(0%);
}

.portfolio-photo {
        display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
    }
    

.portfolio-services {
     border: 1px solid #e7e9fc;
         border-top: none;
         padding: 32px 0 32px 16px;
         margin: 0;
         padding: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
}


/* Footer */

footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
    align-items: center;
        justify-content: center;
}

.footer-container {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
    
}
    
.footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo-color {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-logo-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 288;
}

.footer-logo {
    display: flex;
        justify-content: center;
        margin-bottom: 16px;
}

.footer-social-media {
    padding-top: 72px;
}

.footer-social-media-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
        text-align: center;
            
}

    .footer-list {
     display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 72px;
}
   
.footer-button {
    width: 40px;
        height: 40px;
}
    
.footer-social-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-subscribe {
   margin-left: auto;
}
    

.footer-subscribe-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        padding-bottom: 16px;
        text-align: center;
}


.footer-input {
    width: 288px;
        height: 40px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        opacity: 0.3;
        color: #ffffff;
        margin-bottom: 16px;
}

.footer-input:hover,
.footer-input:focus {
    border: 1px solid #31d0aa;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-btn {
    min-width: 165px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
        align-items: center;
    border-radius: 4px;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: #31d0aa;
}
   
.footer-subscribe-icon {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .footer-container {
        padding-left: 108px;
        padding-right: 108px;
        display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            row-gap: 72px;
            column-gap: 24px;
    }
        .footer-logo {
            justify-content: left;
        }
                .footer-logo-text {
                    max-width: 264px;
                }

                .footer-social-media {
                    padding: 0%;
                }

                .footer-social-media-text {
                    text-align: left;
                }

                .footer-subscribe-text {
                    text-align: left;
                }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        justify-content: left;
    }


    .footer-input {
        width: 264px;
    }

    .footer-subscribe {
        margin-left: 0%;
    }

    .footer-list, .footer-logo-text {
        margin-bottom: 0%;
    }

    .footer-subscribe-btn {
        margin: 0%;
    }

    .footer-form {
        display: flex;
            gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    
        .footer-logo-text {
            max-width: 264px;
        }
    
        .footer-logo {
            display: inline-block;
            margin-bottom: 16px;
        }
    
        .footer-container {
            column-gap: 0px;
            padding-left: 0%;
                padding-right: 0%;
        }
    
        .footer-logo-container {
            margin-right: 120px;
        }
    
        .footer-list {
            margin-bottom: 0%;
        }
    
        .footer-subscribe {
            margin-left: 80px;
        }

        .footer-form {
            display: flex;
            gap: 24px;
            margin: 0 auto;
        }
}
    

/* Backdrop*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}



.modal-open {
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button:hover>svg,
    .button:focus>svg {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #ffffff;
    }

    .modal-open:hover,
    .modal-open:focus {
       border: none;
       background-color: #404bbf; 
    }

    .modal-open:hover,
    .modal-open:focus+.modal-open-icon {
        fill: #ffffff;
    }

        .modal-title {
            font-family: "Roboto", sans-serif;
            text-align: center;
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 16px;
        }

        .modal-input {
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            width: 100%;
            height: 40px;
            margin-right: 24px;
            padding-left: 38px;
            background-color: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            outline: transparent;
        }
    
        .modal-input:hover,
        .modal-input:focus {
            border-color: #4d5ae5;
        }
            
        .modal-input:focus+.modal-icon {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            fill: #4D5AE5;
        }

        .modal-label {
            font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
                color: #8e8f99;
                display: block;
                margin-bottom: 4px;
        }

        .modal-field {
            margin-bottom: 8px
        }
        
        .modal-field-comment {
            margin-bottom: 16px;
        }

        .modal-icon {
            fill: #2E2F42;
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .modal-input:focus+.modal-icon {
            fill: #4D5AE5;
        }

        .input-wrapper {
            position: relative;
        }

        .modal-textarea {
            resize: none;
            width: 100%;
            height: 120px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            padding: 16px 8px;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.04em;
            line-height: 1.17;
            color: rgba(46, 47, 66, 0.4);
            background-color: transparent;
            padding: 8px 16px;
            outline: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
        .modal-textarea:focus {
            border-color: #4D5AE5;
        }
    
    
        .modal-textarea::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.7;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            padding: 8px 16px;
        }

        .submit-btn {
            display: block;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            padding: 16px 32px;
            min-width: 169px;
            height: 56px;
            margin: 0 auto;
            margin-top: 24px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background-color: #4d5ae5;
            cursor: pointer;
            border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .submit-btn:hover,
        .submit-btn:focus {
            background-color: #404bbf;
        }


        .modal-check-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
        }


        @media screen and (max-width: 767px) {
            .modal-check-text {
                display: flex;
                align-items: center;
            }
    
            .privacy-span {
                flex-shrink: 0;
            }
        }

        .modal-check {
            margin-left: 24px;
            border-radius: 2px;
            border: 1px solid rgba(46, 47, 66, 0.4);
        }
    
        .modal-check:checked+.modal-check-text span {
            margin-left: 24px;
            background-color: #404bbf;
            border: none;
            fill: #f4f4fd;
        }

    .privacy-span {
        height: 16px;
        width: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: inline-flex;
            align-items: center;
            justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .policy-accept {
        line-height: 1.33;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #4d5ae5;
    }

        @media screen and (min-width: 768px) {
            .modal {
                width: 408px;
                min-height: 584px;
                padding: 72px 24px 24px 24px;
            }
        }